[Unit]
Description=Truth Social Monitor Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/Users/mbargit/Projects/Solana/truth-social-monitor/py_tls/py
ExecStart=/root/truth-social-monitor/py_tls/py/venv/bin/python3 tlsexpert.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=tlsmonitor
Environment=PYTHONUNBUFFERED=1

# Give the service time to start up properly
TimeoutStartSec=60

# Restart the service if it fails
StartLimitIntervalSec=600
StartLimitBurst=10

[Install]
WantedBy=multi-user.target 